{% extends 'layouts/base.html.twig' %}

{% block title %}New Projects{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Create a new project</h1>

        {{ include('projects/_form.html.twig', {submitButtonText: 'Validation'}) }}

    <a class="btn btn-light" href="{{ path('projects_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
