<button type="submit" class="h-captcha button full-width button-sliding-icon ripple-effect margin-top-10"
        data-sitekey="{{ hcaptcha_site_key }}" data-theme="dark"
        data-callback="submitFormWithHCaptchaResponse">Log in
</button>