{% extends 'layouts/admin.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block body %}
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner" >
            <div class="row">
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-line-awesome-list-ul"></i> Create new SDG</h3>
                        </div>

                        <div class="content">
                            <ul class="dashboard-box-list">
                                <li>
                                    {{ include('categories/_form.html.twig') }}
                                </li>
                            </ul>
                        </div>
                        <a href="{{ path('categories_index') }}"><button class="btn btn-light mt-5">back to list</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
