{% extends 'layouts/base.html.twig' %}

{% block title %}Forgotten password - Step 1{% endblock %}

{% block body %}

<main class="container mt-3">
    <h1 class="text-center">Forgotten password - Step 1</h1>
    {{ form_start(forgotPasswordFormStep1) }}
    <div class="row mt-5">
        <div class="col-md-6">
            {{ form_row(forgotPasswordFormStep1.email.first) }}
        </div>
        <div class="col-md-6">
            {{ form_row(forgotPasswordFormStep1.email.second) }}
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary d-block mx-auto">Send me the link</button>
    </div>
    {{ form_end(forgotPasswordFormStep1) }}
</main>

{% endblock %}