{% extends 'layouts/base.html.twig' %}

{% block title %}Page not found!{% endblock %}

{% block body %}
    <h1>Access denied</h1>
    <p>The content you're trying to reach is not accessible</p>

{% endblock %}