{% extends 'layouts/base.html.twig' %}

{% block title %}Page not found!{% endblock %}

{% block body %}
    <h1>Page not found</h1>
    <p>The page you're looking for does not exist</p>



{% endblock %}